* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Open-Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  /* gap: 10px; */
}

/* Sidenav */

.sidenav {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  background-color: #ffffff;
  color: rgb(0, 66, 66);
  padding: 20px;
}

.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  max-width: 100%;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo h1 {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.menu-links,
.setting-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 100%;
  text-align: left;
  padding-top: 50px;
}

.setting-links {
  padding-top: 100px;
}

.sidenav a {
  font-size: 1.5rem;
  color: rgb(63, 63, 63);
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Topnav */

.topnav {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #ecf0f1;
  /* padding: 10px; */
}

.welcome,
.profile-box {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* left nav box */

.welcome {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: 10px;
  padding: 20px;
}

.search {
  width: 100%;
}

.search input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}

.user-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.greeting {
  font-size: 1rem;
  padding-bottom: 10px;
}

.userbox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 2rem;
  font-weight: 400;
}

.username span {
  font-weight: 100;
}

.user-welcome {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* RIGHT NAV */

.profile-box {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: end;
  gap: 20px;
  padding: 20px;
}

.userbar {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 20px;
  justify-content: end;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
}

.icons img {
  width: 30px;
  height: auto;
  max-width: 100%;
}

.right-user {
  display: grid;
  justify-self: end;
}

.r-username {
  font-weight: 600;
}

.sm-prof {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: 20px;
}

.action-buttons button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

/* Main Body Content */

.main-body {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
  padding: 10px;
  background-color: #fafafa;
}

/* My Projects */

.my-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  padding: 10px;
}

/* Main Body Icons */

.card-icon {
  width: 30px;
  height: auto;
  max-width: 100%;
}

/* Cards */

.my-projects .cards {
  display: contents;
}

.card-type-1,
.card-type-2,
.card-type-3,
.card-type-4,
.card-type-5,
.card-type-6,
.card-type-announce,
.card-type-trend {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background: white;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 10px;
  gap: 5px;
  position: relative;
}

/* Card Border Colours */

.card-type-1 {
  border-left: 10px solid #e0277d;
}

.card-type-2 {
  border-left: 10px solid #1e075e;
}

.card-type-3 {
  border-left: 10px solid #1cceb6;
}

.card-type-4 {
  border-left: 10px solid #beb02f;
}

.card-type-5 {
  border-left: 10px solid #03632e;
}

.card-type-6 {
  border-left: 10px solid #a10079;
}

.card-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.card-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.card-header .card-icon {
  width: 30px;
  height: 30px;
  max-width: none;
  object-fit: contain;
}
.card-subheader {
  margin-top: 5px;
}

.card-content {
  margin-top: 5px;
}

/* Announcements & Trending */

.announcements-section {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 100%;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffb200;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

.footer a {
  color: #ffb200;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.footer a:hover {
  text-decoration: underline;
}
